server:
  port: 8080

spring:
  datasource:
    url: ${SUPABASE_DB_URL}
    username: ${SUPABASE_DB_USER}
    password: ${SUPABASE_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
      platform: postgres

# Optional: enable detailed sql logs
#logging:
#  level:
#    org.springframework.jdbc.core: DEBUG
